.App {
  text-align: center;
    background-color: #a3bfed;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 180px;
    margin-top: 150px;
    padding-bottom: 60px;
    width: 60%;
    margin-left: 20%; 
}
.dropdown{
  padding: 100px;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #284d97;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
